!!!
%html
  %head
    %title KISSr - 404 Not Found
    %link{href: "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", media: "screen, projection", rel: "stylesheet"}/
  %style
    = IO.read('views/style.css')

  %body.pages-home
    .container
      %header.clearfix
        %h1
          KISS#{'<span class=r>r<span>'}
      .content
        %h1 404 Not Found
        %h3
          If you are the owner of this domain please see
          %a{href: '#'} this announcement
